%script{:type => "text/javascript"}
  $('.carousel').carousel({interval: 2000});


#header-carousel.carousel.slide
  %ol.carousel-indicators
    %li{"data-target" => "#header-carousel", "data-slide-to" => "0", :class => "active"}
    %li{"data-target" => "#header-carousel", "data-slide-to" => "1"}
    %li{"data-target" => "#header-carousel", "data-slide-to" => "2"}
  / Carousel items
  .carousel-inner
    .item.active
      %img{ :src => "/assets/images/bootstrap-mdo-sfmoma-01.jpg", :alt => "" }
    .item
      %img{ :src => "/assets/images/bootstrap-mdo-sfmoma-02.jpg", :alt => "" }
    .item
      %img{ :src => "/assets/images/bootstrap-mdo-sfmoma-03.jpg", :alt => "" }
  .carousel-caption
    %h4 Headline is here
    %p
      Lorem ipsum dolor sit amet, consectetur adip
      %br/
      iscing elit. Donec nec pellentesque nisi,
      %br/
      ac mollis dui. Nullam eu sagittis lorem.
      %br/
      Maecenas sed tempus eros, nec gravida
      %br/
      tellus. Aliquam a odio purus.
    %a.link-button{ :href => "#", :alt => "" } CTA

  / Carousel nav
  %a.carousel-control.left{ :href=> "#header-carousel", "data-slide" => "prev" } &lsaquo;
  %a.carousel-control.right{ :href=> "#header-carousel", "data-slide" => "next" } &rsaquo;