/ Elastislide Carousel
%ul{ :id=>'carousel-test', :class=>'elastislide-list' }
  %li
    %a{:href => '#', :name => "1"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "2"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "3"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "4"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "5"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "6"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "7"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "8"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "9"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "10"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "11"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "12"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "13"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "14"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "15"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "16"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "17"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "18"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "19"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "20"}
      Property
      %br/
      Logo
  %li
    %a{:href => '#', :name => "21"}
      Property
      %br/
      Logo


%script{:type => 'text/javascript', :src => '/assets/js/jquery.elastislide.js' }
:javascript
  $('#carousel-test').elastislide({minItems:2});
/ End Elastislide Carousel