/ Button to trigger modal
%a.btn{ :href => "#myModal", "role" => "button", "data-toggle" => "modal" } Launch demo modal
%a.btn{ :href => "#myModal1", "role" => "button", "data-toggle" => "modal" } Launch demo modal 2

/ Modal
#myModal.modal.rolled.hide.fade{ "tabindex"=>"-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => true }
  .modal-body
    %button.close{ "data-dismiss" => "modal", "aria-hidden" => "true" }
    .video.med
      .play
      %footer
        %a{ :href => "#" } Add to Watch Later
    .block
      %ul.b_links
        %li Share
        %li
          %a{ :href => "#" } Facebook
        %li
          %a{ :href => "#" } Twitter
        %li
          %a{ :href => "#" } Email
      %h2 Related Videos

      .b_video_columns
        .colmn
          .video.sm
            .play
        .colmn
          .video.sm
            .play
        .colmn
          .video.sm
            .play
      %ul.b_popup_bottomlinks
        %li
          %a{:href => '#'} Tentpole
        %li
          %a{:href => '#'} Go to product


/ Modal 1
#myModal1.modal.rolled.hide.fade{ "tabindex"=>"-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => true }
  .modal-body
    %button.close{ "data-dismiss" => "modal", "aria-hidden" => "true" }


    %script{:type => "text/javascript"}
      $('#popup-carousel').carousel({interval: 2000});

    #popup-carousel.carousel.slide
      / Carousel items
      .carousel-inner
        .item.active
          %img{ :src => "/assets/images/slider_img_540x430.png", :alt => "" }
        .item
          %img{ :src => "/assets/images/slider_img_540x430.png", :alt => "" }
        .item
          %img{ :src => "/assets/images/slider_img_540x430.png", :alt => "" }

      / Carousel nav
      %a.carousel-control.left{ :href=> "#popup-carousel", "data-slide" => "prev" }
        %span
      %a.carousel-control.right{ :href=> "#popup-carousel", "data-slide" => "next" }
        %span

