!!! 5
%html{ html_attrs('ru') }
  %head
  %title Мой блог
  /%meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %meta{:charset => 'utf-8'}
  = stylesheet_link_tag "style"
%body
  .header_logo
    Home page
  .header
    %div
      Shout factory
    #searchbox
      %input{:type => "text", :name => "search", :placeholder => "SEARCH"}
    %div
      %a{:href => "#", :class => "" } Login/Sign Up
    %ul
      %li Television
      %li Film
      %li Kids
      %li Music
    #menu
      %a{:href => "#", :class => "" }
        %b= image_tag("rails.png")
        /%img{:src => image_tag 'sprites/icon_menu.png' , :alt => ''}
    
  .header-slider
    .slide
      .info-text
        %h2 Headline is here
        %div 
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pellentesque nisi, ac mollis dui. Nullam eu sagittis lorem. Maecenas sed tempus eros, nec gravida tellus. Aliquam a odio purus. Nunc quis vehicula velit. Vestibulum a egestas lorem, nec aliquam ante. Nam adipiscing diam id commodo luctus. Etiam convallis risus et mollis suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hac habitasse platea dictumst.
        %a{:href => "#", :class => "link-button" } CTA 
  #header
    %h1 Мой блог, #{@tstring}
    %h2 Записи 
    =@tstring
  #content
    =@title
    =@tstring
    
    %img{:src => "", :width => "300", :height => "300", :alt => "" }
  #footer
  %p.copyright
    Все права защищены