= provide(:title, 'Home')


%header




.main_group
  .header
    .header_logo
      Home page
    .navigation
      .icon_menu
        .auth
          %a{:href => "#", :class => ""} Login/Sign Up
        %a#menu{:href => "#"}
          %img{:src => '/assets/sprites/icon_menu.png' , :alt => ''}
      %h3 Shout factory
      .searchbox
        %form{:action => '#', :method => 'get', :id => 'search'}
          %input{:type => 'text', :name => 'search', :id => 'searchbox', :placeholder => 'SEARCH'}
      %ul.menu_top
        %li
          %a{:href => "#" } Television
        %li
          %a{:href => "#" } Film
        %li
          %a{:href => "#" } Kids
        %li
          %a{:href => "#" } Music
    /* Menu DropDown */
    .menu_dropdown
      %button.close
      .menu_container
        %ul.listmenu
          %li
            %h3 menu
            %ul
              %li
                %a{ :href => "#" }home
              %li
                %a{ :href => "#" }television
              %li
                %a{ :href => "#" }film
              %li
                %a{ :href => "#" }kids
              %li
                %a{ :href => "#" }music
          %li
            %h3 company
            %ul
              %li
                %a{ :href => "#" }about us
              %li
                %a{ :href => "#" }privacy policy
              %li
                %a{ :href => "#" }terms &amp; conditions
              %li
                %a{ :href => "#" }press
              %li
                %a{ :href => "#" }faq
              %li
                %a{ :href => "#" }contact
          %li
            %h3 connect
            %ul
              %li
                %a{ :href => "#" }facebook
              %li
                %a{ :href => "#" }twitter
              %li
                %a{ :href => "#" }youtube
              %li
                %a{ :href => "#" }tumblr
              %li
                %a{ :href => "#" }pinterest
          %li
            %ul
              %li
                %a{ :href => "#" }Login
              %li
                %a{ :href => "#" }sign-up


    = render('welcome/carousel')

  .container
    %h2 Tentpole properties
    = render('welcome/carousel2')

  .container
    %h2 Most popular
    .slider.twolines-slider
      .wrapper
        .wrapper_roller
          .slide
            .digits 1
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            .sub-slide
              .digits 2
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
            .sub-slide.row
              .digits 3
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
            .sub-slide
              .digits 4
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
            .sub-slide.row
              .digits 5
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
      .nav
        %a.prev.disabled{ :href => "#", :alt => "Prev" } Prev
        %a.next{ :href => "#", :alt => "Next" } Next

  .container
    %h2 New and upcoming releases
    .slider.twolines-slider
      .wrapper
        .wrapper_roller
          .slide
            .sub-slide
              .digits 2
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
            .sub-slide.row
              .digits 3
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
            .sub-slide
              .digits 4
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
            .sub-slide.row
              .digits 5
              %a{ :href => "#", :alt => "" }
                %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            .digits 1
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
      .nav
        %a.prev.disabled{ :href => "#", :alt => "Prev" } Prev
        %a.next{ :href => "#", :alt => "Next" } Next

  .container
    %h2 Top tunes (most popular music)
    .slider.toptunes-slider
      .wrapper
        .wrapper_roller
          .slide
            .digits 1
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            .digits 2
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            .digits 3
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            .digits 4
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            .digits 5
            %a{:href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
      .nav
        %a.prev{ :href => "#", :alt => "Prev" } Prev
        %a.next{ :href => "#", :alt => "Next" } Next

  .container
    %h2 Staff picks
    .slider.staff-slider
      .wrapper
        .wrapper_roller
          .slide
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
          .slide
            %a{ :href => "#", :alt => "" }
              %img{ :src => '/assets/images/slider_img_540x430.png', :alt => '', :width => '100%', :height => '100%', :class => "im" }
      .nav
        %a.prev{ :href => "#", :alt => "Prev" } Prev
        %a.next{ :href => "#", :alt => "Next" } Next
  .container
    %h2 The buzz
    .row.b_columns
      .span4
        %header
          %a{ :href => "#" } @shoutfactory
        %article
          Lorem ipsum dolor sit amet, consectetur adip iscing elit. Donec nec pellentesque nisi, ac mollis dui. Nullam eu sagittis lorem. Maecenas sed tempus eros, nec gravida tellus. Aliquam a odio purus.
        %footer
          24m ago
      .span4
        %header
          %a{ :href => "#" } @shoutfactory
        %article
          Lorem ipsum dolor sit amet, consectetur adip iscing elit. Donec nec pellentesque nisi, ac mollis dui. Nullam eu sagittis lorem. Maecenas sed tempus eros, nec gravida tellus. Aliquam a odio purus.
        %footer
          24m ago
      .span4
        %header
          %a{ :href => "#" } @shoutfactory
        %article
          Lorem ipsum dolor sit amet, consectetur adip iscing elit. Donec nec pellentesque nisi, ac mollis dui. Nullam eu sagittis lorem. Maecenas sed tempus eros, nec gravida tellus. Aliquam a odio purus.
        %footer
          24m ago






  
 