/** Variables **/

$body-background1: #e6e4e0;
$body-background: #ffffff;


$default-font-family: Arial, courier, sans-serif; // 'gost_type_a',
$font-menu: 'gost_type_a', Arial, courier, sans-serif; //
$heading-font-family: 'Trebuchet MS', sans-serif; //

$default-text-color: #999;
$heading-color: #1e1e1e;


$default-link-color: #000;
$link-color: #058CF5;
$form-error-color: #E1192D;


$blog-comment-normal: #00c618;
$blog-comment-approve: #F67911;
$blog-comment-draft: #ffff00;
$blog-comment-spam: #551a8b;
$blog-comment-delete: #990000;
$blog-comment-tresh: #990000;


$navigation-search-padding: 16px;
$navigation-search-width: 212px;
$navigation-background: #e6e4e0;


