/*
*:focus {
  outline: none;
  -moz-outline-style: none;
}

body {
  background: $body-background;
  font-family: $default-font-family;
  color: $default-text-color;
  margin:0px;
  padding:0px;
}

a {
  display:inline;
  color: $link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-top: 10px;
  &:first-child {
    margin-top: 0px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font-family;
  font-weight: normal;
  color: $heading-color;
}
h1 {
  font-size: 30px;
  font-style: italic;
}

h2 {
  font-family: $heading-font-family;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-family: $heading-font-family;
  font-size: 18px;
  font-weight: normal;
}

h5 {
  font-family: $heading-font-family;
  font-size: 16px;
  font-weight: normal;
}

input, textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 3px 3px 3px 3px;
  font-size: 13px;
  line-height: 16px;
  padding: 6px;
  width: 50%;

  outline: 0;

  &:focus {
    outline: none;
  }
}

input::-moz-focus-inner {
  border: 0;
}


.cl {
  @include clearfix;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
// start commented backslash hack
* html .clearfix { height: 1%; }
.clearfix { display: block; }

img {
  border:0px;
}

*/

.main_group {
  width:auto;
  min-width:980px;
  max-width:1600px;
  
  margin-left:auto;
  margin-right:auto;
  
  padding-left:78px;
  padding-right:78px;
  padding-bottom:100px;
}



/* Navigation Block */
.navigation {
  padding:30px;
  position:relative;
  background:$navigation-background;
  
  h3 {
    color:#2ca8c4;
    text-transform: uppercase;
    font-weight: bold;
    margin:0px;
    pading:0px;
    padding-top:0px;
    padding-bottom:0px;
    font-size: 17px;
    float:left;
  }
  
  .icon_menu {
    display: block;
    text-align: right;
    width:160px;
    float:right;
    padding-top:4px;
    
    a {
      padding:0px;
    }
  }
  
  a {
    display:inline-block;
    padding:10px;
    text-decoration:none;
    text-transform: uppercase;
    color:#2aa8c4;
    background:none;
    font-size:12px;
    font-weight:bold;
    
    &:hover {
      color:#51bbd3;
    }
  }
  
  .auth {
    margin-top: 3px;
    float: left;
    
    a {
      padding:0px;
    }
  }
  
  .searchbox {
    width:$navigation-search-width;
    margin-left:30px;
    float:left;

    form {
      margin-bottom: 0px;
    }
    
    input#searchbox {
      background-color:#50d3ea;
      padding-left:$navigation-search-padding;
      padding-right:$navigation-search-padding;
      
      padding-top:9px;
      padding-bottom:9px;
      margin-bottom: 0px;
      color:#FFF;
      border:none;
      border-radius:0px;
      width:$navigation-search-width - $navigation-search-padding*2;
      
      font-weight:bold;

      &:focus {
        box-shadow: none;
      }
    }
  }
}


.main {
  padding-top:20px;
}




.block {
  padding-bottom: 20px;
  
  h2 {
    color: #454545;
    font-size: 24px;
    text-transform:uppercase;
  }
  
  ul.b_links {
    margin:0px;
    float:right;
    
    li {
      float:left;
      list-style-type:none;
      margin-left:20px;
      
      a {
        text-decoration:none;
        
        &:hover {
          text-decoration:underline;
        }
      }
      
      &:first-child {
        margin-left:0px;
      }
    }
  }
  
  .b_columns {

    .colmn {

      &.span4 {
        width: 349px;
      }
      
      header {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      article {
        
      }
      
      footer {
        font-size: 11px;
        margin-top: 5px;
      }
      
      &.size3 {
        width: 315px;
      }
      
      &.i_first {
        float: left;
      }
      &.i_last {
        float: right;
      }
      &.i_item {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}


.b_columns {
  .span4 {
    width: 349px;

    header {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    footer {
      font-size: 11px;
      margin-top: 5px;
    }
  }
}

ul.menu_top {
  margin:0px;
  padding:0px;
  margin-left:450px;
  margin-right:200px;
  overflow: hidden;
  
  
  li {
    list-style-type:none;
    margin:0px;
    padding:0px;
    display:inline-block;
    float: left;
    
    a {
      display:inline-block;
      padding:10px;
      text-decoration:none;
      text-transform: uppercase;
      color:#2aa8c4;
      background:none;
      font-size:12px;
      font-weight:bold;
      
      &:hover {
        color:#51bbd3;
      }
    }
  }
}

.link-button {
  color: #FFF;
  background: #2ca8c4;
  text-transform: uppercase;
  text-decoration: none;
  padding-left:16px;
  padding-right:16px;
  padding-top:6px;
  padding-bottom:6px;
  display: inline-block;  
}


.modal {
  width: 540px;
  padding: 47px;

  &.rolled {
    position: absolute;
  }

  &.fade {
    &.in {
      top: 0%;
    }
  }

  .modal-body {
    padding: 0px;
    max-height: 600px;
    overflow-y: inherit;
  }
}

button.close {
  padding:0px;
  background:none;
  border:none;
  color:#444;
  font-size:44px;
  font-weight:bold;
  cursor:pointer;
  opacity: 1;
  
  width:22px;
  height:22px;
  position:absolute;
  right: -35px;
  top: -35px;
  
  &:before {
    content: '×';
    position: absolute;
    color:#444;
    left:-2px;
    top:2px;
  }
  &:hover, &:focus {
    opacity: 1;

    &:before {
      color: #999;
    }
  }
}




/** Carousel styles **/

.carousel {
  margin-bottom: 0px;
  color: #444444;
}

.carousel-indicators {
  z-index: 4;
  right: 25px;
  top: 20px;

  li {
    cursor: pointer;
  }
}

.carousel-caption {
  top: 70px;
  left: 80px;
  right: auto;
  bottom: auto;
  padding: 0px;
  background: none;


  h4 {
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  p {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .link-button {
    &:hover {
      text-decoration: none;
      color: #FFF;
    }
  }
}

.carousel-control {
  background: transparent;
  border: none;
  border-radius: 0px;
  opacity: inherit;
  color: #a8a8a8;
  top: 50%;

  &:hover, &:focus {
    color: #A8A8A8;
    opacity:inherit;
  }

  &.left {
    left: -40px;
  }
  &.right {
    right: -40px;
  }
}

.carousel-inner {
  .item {
    img {
      width: 100%;
    }
  }
}


.popupbody {
  background:#333;
  padding:100px;
  position:relative;
}
.popupbody2 {
  padding:0px;
  position:relative;
}

.popup {
  background:#FFF;
  padding:47px;
  width:540px;

  
  position:relative;
  margin-left:auto;
  margin-right:auto;
  
  
  .btn_close {
    position:absolute;
    right:8px;
    top:8px;
  }
}


.video {
  background:#2ca8c4;
  position:relative;
  width:100%;
  
  .play {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-10px;
    margin-top:-10px;
    opacity:0.5;
    cursor:pointer;
    
    &:hover {
      opacity:0.7;
    }
  }
  
  footer {
    color:#FFF;
    position:absolute;
    right:16px;
    bottom:12px;
    font-size:12px;
    
    a {
      color:#FFF;
      text-decoration:none;
    }
  }
  
  &.med {
    width:540px;
    height:312px;
    
    .play {
      background: url(image_path('sprites/icon_play_m.png')) no-repeat left top;
      width:54px;
      height:54px;
      margin-left:-27px;
      margin-top:-27px;      
    }
  }
  
  &.sm {
    width:165px;
    height:96px;
    
    .play {
      background: url(image_path('sprites/icon_play_s.png')) no-repeat left top;
      width:24px;
      height:24px;
      margin-left:-12px;
      margin-top:-12px;      
    }
    
    footer {
      font-size:11px;
    }
  }
}

.b_video_columns {
  overflow:hidden;
  
  .colmn {
    margin-left:22px;
    float:left;
    
    &:first-child {
      margin-left:0px;
    }
  }
}

.b_popup_bottomlinks {
  margin:0px;
  margin-top:25px;
  padding:0px;
  
  li {
    float:right;
    list-style-type:none;
    text-transform:uppercase;
    
    a {
      text-decoration:none;
      
      &:hover {
        text-decoration:underline;
      }
    }
    
    
    &:first-child {
      float:left;
    }
  }
}


/* Menu Drop Down */

.menu_dropdown {
  position:absolute;
  top:182px;
  left:0px;
  right:0px;
  width:100%;
  z-index:5;

  
  .close {
    position:absolute;
    left:auto;
    top:-50px;
    right:55px;
  }
  
  .menu_container {
    height: 220px;
    padding-top:50px;
    padding-bottom:50px;
    overflow: hidden;
    clear:both;
    float:none;
    
    background:transparent;
    background:rgba(215, 215, 215 , 0.97);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#97d5d5d5,endColorstr=#97d5d5d5);
    zoom: 1;
  }
  
  .listmenu {
    margin:0px;
    padding:0px;
    width:auto;
    padding-top:40px;
    padding-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    display:block;
    float:right;
    right:50%;
    position:relative;
    
    li {
      list-style-type:none;
      display:block;
      width:0px;
      text-align:left;
      float:left;
      margin-left:10px;
      position:relative;
      padding-top:1px;
      padding-bottom:1px;
      left:50%;
      padding-right: 170px;
      
      &:first-child {
        margin-left:0px;
      }
      
      h3 {
        position:absolute;
        color:#333;
        margin:0px;
        padding:0px;
        top:-30px;
        left:0px;
        line-height: inherit;
        font-size: 21px;
      }
      
      ul {
        margin:0px;
        padding:0px;
        position:absolute;
        
        li {
          list-style-type:none;
          display:block;
          width:auto;
          text-align:left;
          float:none;
          margin-left:0px;
          
          padding-top:0px;
          padding-bottom:0px;
          padding-right:0px;
          margin-bottom:4px;
          width:170px;
          text-transform:none;
          
          position:relative;
          left:auto;
          
          a {
            padding:0px;
            text-transform:none;
          }
        }
      }
    }
  }
}
















