/* Slider start */
.slider {
  position:relative;
  
  .wrapper {
    height:auto;
    overflow: hidden;
    
    .wrapper_roller {
      width: 3000px;
    }
  }
  
  .nav {
    
    a.prev, a.next {
      display: block;
      overflow: hidden;
      width: 21px;
      height: 38px;
              
      text-indent: -300px;
      background-color:#0f0;
      position: absolute;
      z-index: 0;
      top: 50%;
      margin-top: -19px;
      
      &.disabled {
        display: none;
      }
    }
    a.prev {
      left: -33px;
      background: url(image_path('sprites/slide_arrow_prev.png')) no-repeat left top;
    }
    a.next {
      right: -33px;
      background: url(image_path('sprites/slide_arrow_next.png')) no-repeat left top;
    }
  }
  
  .slide {
    width: 100%;
    height: 100px;
    margin-left: 18px;
    overflow: hidden;
    position: relative;
    float: left;

    a {
      img {
        height: 100%;
      }
    }
    
    .info-text {
      position: absolute;
      left: 0px;
      top: 0px;
      color:#FFF;
      
      padding-left:80px;
      padding-top:50px;
      
      h2 {
        font-size:36px;
        text-transform:uppercase;
        color:#FFF;
        margin:0px;
      }
    }
    
    .digits {
      position: absolute;
      left: 25px;
      top: 20px;
      font-size: 21px;
      font-weight: bold;
      color: #FFF;
    }
    
    &:first-child {
      margin-left: 0px;
    }
    
    .sub-slide {
      width:100px;
      height:100px;
      margin-bottom: 20px;
      position:relative;
      float:left;
      
      &:first-child {
        margin-left:0px;
      }
      
      &.row {
        clear: right;
        margin-left:20px;
      }

      img {
        height: 100%;
      }
    }
    
    .im {
      background-color: #2ca8c4;
    }
  }
}



/* Slider Customized */
.header-slider {
  background-color:#444444;
  
  .wrapper {
    height: 400px;
  }
  .slide {
    width: 980px;
    height: 400px;
  }
}


.staff-slider {
  
  .wrapper {
    height: 175px;

    .wrapper_roller {
      width: 102%;
      margin-left: -2%;
    }
  }
  
  .slide {
    width: 32%;
    margin-left: 2%;
    height: 175px;
  }  
}


.logo-slider {
  
  .wrapper {
    height: 60px;
  }
  
  .slide {
    width: 180px;
    height: 60px;
    text-align:center;
    
    .logo {
      font-size:21px;
      font-weight:bold;
      color:#2aa8c4;
      text-decoration:none;
      text-transform:uppercase;
    }
  }  
}


.toptunes-slider {
  
  .wrapper {
    height: 175px;

    .wrapper_roller {
      width: 102%;
      margin-left: -2%;
    }
  }
  
  .slide {
    width: 18%;
    margin-left: 2%;
    height: 175px;

    &:first-child {
      margin-left: 2%;
    }
  }
}


.twolines-slider {

  .wrapper {
    height: 260px;

    .wrapper_roller {
      width: 102%;
    }
  }  
  .slide {
    width: 48%;
    height: 260px;
    margin-left: 2%;
    
    .sub-slide {
      width: 48%;
      height: 120px;

      &.row {
        margin-left:4%;
      }
    }
  }
}


.popup-slider {
  
  .wrapper {
    height: 430px;
  }
  .slide {
    width: 540px;
    height: 430px;
  }
  
  .nav {
    a.prev, a.next {
      padding-left:27px;
      padding-right:24px;
      padding-top:29px;
      padding-bottom:29px;
      background:none;
      margin-top:-48px;
    }
    a.prev {
      left:0px;
      background:rgba(255,255,255, 0.5);
      text-indent:0px;
    }
    a.next {
      right:0px;
      background:rgba(255,255,255, 0.5);
      text-indent:0px;
    }
  }
}

#popup-carousel {
  .carousel-control {
    padding: 0px;

    width: 66px;
    height: 84px;
    display: block;

    background:none;
    margin-top:-42px;
    overflow: hidden;
    outline: 0;

    &:before {
      display:block;
      position: absolute;
      content: "‹";
      left: 25px;
      top: 20px;
      color: #333;
      opacity: 1;
      z-index: 2;
    }

    span {
      width: 66px;
      height: 84px;
      display: block;
      background: #FFF;
      opacity: 0.5;
    }

    &.left {
      left:0px;

      &:before {
        content: "‹";
      }
    }
    &.right {
      right:0px;

      &:before {
        content: "›";
      }
    }
  }
}

/** Carousel styles **/

.carousel {
  margin-bottom: 0px;
  color: #444444;
}

.carousel-indicators {
  z-index: 4;
  right: 25px;
  top: 20px;

  li {
    cursor: pointer;
  }
}

.carousel-caption {
  top: 70px;
  left: 80px;
  right: auto;
  bottom: auto;
  padding: 0px;
  background: none;


  h4 {
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  p {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .link-button {
    &:hover {
      text-decoration: none;
      color: #FFF;
    }
  }
}

.carousel-control {
  background: transparent;
  border: none;
  border-radius: 0px;
  opacity: inherit;
  color: #a8a8a8;
  top: 50%;

  &:hover, &:focus {
    color: #A8A8A8;
    opacity:inherit;
  }

  &.left {
    left: -40px;
  }
  &.right {
    right: -40px;
  }
}

.carousel-inner {
  .item {
    img {
      width: 100%;
    }
  }
}

/** Carousel styles end **/