/* Slider start */
.slider {
  position:relative;
  
  .wrapper {
    height:auto;
    overflow: hidden;
    
    .wrapper_roller {
      width: 3000px;
    }
  }
  
  .nav {
    
    a.prev, a.next {
      display: block;
      overflow: hidden;
      width: 21px;
      height: 38px;
              
      text-indent: -300px;
      background-color:#0f0;
      position: absolute;
      z-index: 0;
      top: 50%;
      margin-top: -19px;
      
      &.disabled {
        display: none;
      }
    }
    a.prev {
      left: -33px;
      background: url(image_path('sprites/slide_arrow_prev.png')) no-repeat left top;
    }
    a.next {
      right: -33px;
      background: url(image_path('sprites/slide_arrow_next.png')) no-repeat left top;
    }
  }
  
  .slide {
    width: 100%;
    height: 100px;
    margin-left: 18px;
    overflow: hidden;
    position: relative;
    float: left;
    
    .info-text {
      position: absolute;
      left: 0px;
      top: 0px;
      color:#FFF;
      
      padding-left:80px;
      padding-top:50px;
      
      h2 {
        font-size:36px;
        text-transform:uppercase;
        color:#FFF;
        margin:0px;
      }
    }
    
    .digits {
      position: absolute;
      left: 25px;
      top: 20px;
      font-size: 21px;
      font-weight: bold;
      color: #FFF;
    }
    
    &:first-child {
      margin-left: 0px;
    }
    
    .sub-slide {
      width:100px;
      height:100px;
      margin-bottom: 20px;
      position:relative;
      float:left;
      
      &:first-child {
        margin-left:0px;
      }
      
      &.row {
        clear: right;
        margin-left:20px;
      }
    }
    
    .im {
      background-color: #2ca8c4;
    }
  }
}



/* Slider Customized */
.header-slider {
  background-color:#444444;
  
  .wrapper {
    height: 400px;
  }
  .slide {
    width: 980px;
    height: 400px;
  }
}


.staff-slider {
  
  .wrapper {
    height: 175px;
  }
  
  .slide {
    width: 315px;
    height: 175px;
  }  
}


.logo-slider {
  
  .wrapper {
    height: 60px;
  }
  
  .slide {
    width: 180px;
    height: 60px;
    text-align:center;
    
    .logo {
      font-size:21px;
      font-weight:bold;
      color:#2aa8c4;
      text-decoration:none;
      text-transform:uppercase;
    }
  }  
}


.toptunes-slider {
  
  .wrapper {
    height: 175px;
  }
  
  .slide {
    width: 231px;
    height: 175px;
  }
}


.twolines-slider {
  
  .wrapper {
    height: 260px;
  }  
  .slide {
    width: 480px;
    height: 260px;
    margin-left: 20px;
    
    .sub-slide {
      width: 230px;
      height: 120px;
    }
  }
}


.popup-slider {
  
  .wrapper {
    height: 430px;
  }
  .slide {
    width: 540px;
    height: 430px;
  }
  
  .nav {
    a.prev, a.next {
      padding-left:27px;
      padding-right:24px;
      padding-top:29px;
      padding-bottom:29px;
      background:none;
      margin-top:-48px;
    }
    a.prev {
      left:0px;
      background:rgba(255,255,255, 0.5); //  url(image_path('sprites/slide_arrow_prev.png')) no-repeat 27px 29px
      text-indent:0px;
    }
    a.next {
      right:0px;
      background:rgba(255,255,255, 0.5); //  url(image_path('sprites/slide_arrow_next.png')) no-repeat 27px 29px
      text-indent:0px;
    }
  }
}

